
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 273 47% 11%;
    --foreground: 0 0% 98%;
    --card: 273 47% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 273 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 273 47% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 273 20% 25%;
    --muted-foreground: 273 10% 70%;
    --accent: 277 87% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 30% 20%;
    --input: 273 30% 20%;
    --ring: 277 87% 53%;
    --chart-1: 275 100% 25%;
    --chart-2: 277 87% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 273 47% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 273 47% 15%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 273 30% 18%;
    --sidebar-ring: 277 87% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}
